/* #282C37; */
/* General */
/* line 2, ../sass/_general.scss */
* {
  color: white;
}

/* line 6, ../sass/_general.scss */
html, body {
  font-family: "Open Sans", sans-serif;
  background: #191b22;
  color: white;
  margin: 0;
}

/* line 13, ../sass/_general.scss */
.page {
  min-height: calc(100vh - 120px);
}

/* line 18, ../sass/_general.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 22, ../sass/_general.scss */
::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

/* line 26, ../sass/_general.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(110, 110, 110, 0.2);
}

/* line 31, ../sass/_general.scss */
h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
}

/* line 35, ../sass/_general.scss */
h1 {
  font-size: 1.8em;
}

/* line 38, ../sass/_general.scss */
hr {
  margin: 4px;
}

/* line 41, ../sass/_general.scss */
a {
  cursor: pointer;
}
/* line 43, ../sass/_general.scss */
a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

/* Customize bootstrap */
/* line 50, ../sass/_general.scss */
.container {
  max-width: 55em;
}
@media (max-width: 960px) {
  /* line 50, ../sass/_general.scss */
  .container {
    /* Some weird bug with too wide form on ipad? */
    max-width: 45em;
  }
}

/* line 57, ../sass/_general.scss */
.btn {
  color: white;
  border: none;
  padding: 10px 20px;
}
/* line 61, ../sass/_general.scss */
.btn:hover, .btn:active, .btn:focus, .btn:visited {
  color: white;
  outline: none;
  box-shadow: none;
}

/* line 67, ../sass/_general.scss */
.btn-cta, .btn-cta-large {
  background: #f66303;
}
/* line 69, ../sass/_general.scss */
.btn-cta:hover, .btn-cta-large:hover, .btn-cta:active, .btn-cta-large:active, .btn-cta:focus, .btn-cta-large:focus, .btn-cta:visited, .btn-cta-large:visited {
  background: #f66303;
}
/* line 73, ../sass/_general.scss */
.btn-cta i, .btn-cta-large i {
  width: 0;
  color: white;
  margin: 3px 2px 0 10px;
}
@media (max-width: 960px) {
  /* line 73, ../sass/_general.scss */
  .btn-cta i, .btn-cta-large i {
    /* margin-left: 5px; */
    display: none;
  }
}

/* line 84, ../sass/_general.scss */
.btn-large {
  padding: 20px 40px;
}

/* line 87, ../sass/_general.scss */
.btn-outline {
  border: 1px solid white;
  padding: 20px 40px;
  color: white;
  background: none;
  display: inline-block;
  cursor: pointer;
}

/* Customize bootstrap */
/* line 98, ../sass/_general.scss */
.container {
  max-width: 900px;
}

/* line 101, ../sass/_general.scss */
.btn-default {
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999;
}

/* line 107, ../sass/_general.scss */
.btn-primary {
  color: white;
  height: 40px;
}
/* line 110, ../sass/_general.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
  color: white;
}

/* line 114, ../sass/_general.scss */
.btn-cta, .btn-cta-large {
  background: #f66303;
  border: none;
  color: white;
}
/* line 118, ../sass/_general.scss */
.btn-cta:hover, .btn-cta-large:hover, .btn-cta:active, .btn-cta-large:active, .btn-cta:focus, .btn-cta-large:focus, .btn-cta:visited, .btn-cta-large:visited {
  color: white;
}

/* line 123, ../sass/_general.scss */
.btn-cta-large {
  padding: 15px 20px;
}

/* line 127, ../sass/_general.scss */
.btn-disabled {
  background: gray;
  color: white;
  height: 40px;
  cursor: default;
}
/* line 132, ../sass/_general.scss */
.btn-disabled:hover, .btn-disabled:active, .btn-disabled:focus, .btn-disabled:visited {
  color: white;
}

/* line 137, ../sass/_general.scss */
.form-control, .form-control-cta {
  height: 40px;
}

/* line 141, ../sass/_general.scss */
.form-control-cta {
  height: auto;
  padding: 12px 15px;
  width: 100%;
  text-align: center;
}

/* line 149, ../sass/_general.scss */
.close {
  margin: 20px;
}

/* Helpers */
/* line 154, ../sass/_general.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 160, ../sass/_general.scss */
.left {
  float: left;
}

/* line 164, ../sass/_general.scss */
.right {
  float: right;
}

/* line 167, ../sass/_general.scss */
.centered {
  margin: auto;
}

/* line 170, ../sass/_general.scss */
.center-text {
  text-align: center;
}

/* line 173, ../sass/_general.scss */
.hidden {
  display: none;
}

/* line 177, ../sass/_general.scss */
.bold {
  font-weight: bold;
}

/* line 181, ../sass/_general.scss */
.pointer {
  cursor: pointer;
}

/* line 185, ../sass/_general.scss */
.fill {
  min-height: 100%;
  height: 100%;
}

/* line 190, ../sass/_general.scss */
.vertical-center {
  display: flex;
  align-items: center;
}

/* line 195, ../sass/_general.scss */
.full-width {
  width: 100%;
}

/* line 200, ../sass/_general.scss */
.gray {
  color: #999;
}

/* line 204, ../sass/_general.scss */
.paddings-10 {
  padding: 10px;
}

/* line 208, ../sass/_general.scss */
.margins-h-10 {
  margin: 0 10px;
}

/* Typography */
/* line 213, ../sass/_general.scss */
article h1 {
  /* font-size: 36px; */
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
  margin-top: 0;
  color: #3d454b;
}

/* line 222, ../sass/_general.scss */
article h2, h2 a {
  font-size: 30px;
  font-weight: bold;
  color: #3d454b;
}

/* line 227, ../sass/_general.scss */
h3 {
  font-size: 24px;
  font-weight: bold;
}

/* line 231, ../sass/_general.scss */
h4 {
  font-size: 24px;
  font-weight: bold;
}

/* line 236, ../sass/_general.scss */
article p {
  font-size: 22px;
  margin-bottom: 20px;
}

/* line 244, ../sass/_general.scss */
a {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
/* line 246, ../sass/_general.scss */
a:hover, a:active, a:focus, a:visited {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* line 253, ../sass/_general.scss */
article .panel a, article p a {
  color: #008cba;
}
/* line 255, ../sass/_general.scss */
article .panel a:hover, article .panel a:active, article .panel a:focus, article .panel a:visited, article p a:hover, article p a:active, article p a:focus, article p a:visited {
  color: #008cba;
}

/* line 260, ../sass/_general.scss */
article li {
  font-size: 22px;
}

/* line 263, ../sass/_general.scss */
article ul {
  padding-left: 22px;
}

/* line 266, ../sass/_general.scss */
hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

/* line 272, ../sass/_general.scss */
textarea, textarea:focus, textarea:active {
  resize: none;
  box-shadow: none !important;
}

/* Css magic that keeps images square, background in the center. */
/* line 280, ../sass/_general.scss */
.image-wrapper-square {
  width: 100%;
  position: relative;
}
/* line 284, ../sass/_general.scss */
.image-wrapper-square:after {
  padding-top: 100%;
  display: block;
  content: '';
}
/* line 290, ../sass/_general.scss */
.image-wrapper-square .thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0;
  border: none;
  background-color: #1f364d;
}

/* Css magic that keeps images 16x9, background in the center. */
/* line 307, ../sass/_general.scss */
.image-wrapper {
  width: 100%;
  position: relative;
}
/* line 311, ../sass/_general.scss */
.image-wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
/* line 317, ../sass/_general.scss */
.image-wrapper .thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0;
  border: none;
  background-color: #1f364d;
}

/* Dropdown */
/* line 336, ../sass/_general.scss */
.dropdown:hover .dropdown-menu {
  display: block;
  min-width: 100%;
}

/* Header */
/* line 15, ../sass/style.scss */
header {
  width: 640px;
  padding-top: 10px;
  margin: auto;
  background: #282C37;
 /* 
 position: relative;
 box-shadow: 2px 2px 10px 0 #191b22;
*/
}
@media (max-width: 740px) {
  /* line 15, ../sass/style.scss */
  header {
    width: 100%;
    max-width: 100%;
  }
}
/* line 29, ../sass/style.scss */
header .main-menu {
  float: left;
  margin-top: -10px;
}
/* line 32, ../sass/style.scss */
header .main-menu i {
  font-size: 18px;
  margin-right: 4px;
  color: #9BAEC8;
  cursor: pointer;
  width: 40px;
  text-align: center;
  line-height: 40px;
}
/* line 41, ../sass/style.scss */
header .main-menu .logo {
  display: none;
  color: #9BAEC8;
}
/* line 44, ../sass/style.scss */
header .main-menu .logo img {
  width: 40px;
  float: left;
}
/* line 49, ../sass/style.scss */
header .main-menu .dropdown {
  float: left;
  width: 200px;
  /* Hacky fix, there's a distance between dropdown element and menu */
  height: 42px;
  margin-bottom: -2px;
}
/* line 55, ../sass/style.scss */
header .main-menu .dropdown .dropdown-menu {
  background-color: #313543;
  box-shadow: 2px 2px 10px 0 #191b22;
  top: calc(100% - 3px);
  padding: 0;
}
/* line 60, ../sass/style.scss */
header .main-menu .dropdown .dropdown-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 10px;
}
/* line 64, ../sass/style.scss */
header .main-menu .dropdown .dropdown-menu li a {
  color: #9BAEC8;
}
/* line 66, ../sass/style.scss */
header .main-menu .dropdown .dropdown-menu li a i {
  display: inline;
  width: 20px;
  margin-right: 10px;
}

/* line 82, ../sass/style.scss */
.calendar {
  margin-right: 10px;
  float: right;
  /* @media  (max-width: 740px) { */
  /*     float:left; */
  /* }	 */
  width: calc(100% - 210px);
  /* minus width of the menu and 10px padding */
  overflow-y: hidden;
  overflow-x: scroll;
  direction: rtl;
}
/* line 93, ../sass/style.scss */
.calendar::-webkit-scrollbar {
  height: 0px;
}
/* line 94, ../sass/style.scss */
.calendar .dates {
  width: calc(50px * 32);
}
/* line 98, ../sass/style.scss */
.calendar .day {
  float: left;
  height: 30px;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
  position: relative;
}
/* line 105, ../sass/style.scss */
.calendar .day .name {
  text-transform: uppercase;
  font-size: 8px;
  color: #9BAEC8;
  /* font-family: 'Roboto Mono', sans-serif; */
  /* font-weight: 800; */
}
/* line 112, ../sass/style.scss */
.calendar .day .date {
  font-size: 15px;
  line-height: 15px;
  color: #9BAEC8;
}
/* line 119, ../sass/style.scss */
.calendar .day .today {
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  height: calc(67px * 7 + 6px);
  border: 1px solid rgba(156, 175, 201, 0.4);
  pointer-events: none;
}

/* line 132, ../sass/style.scss */
.calendar {
  margin-top: -8px;
  /* Add background to mark complete days with a circle */
}
/* line 134, ../sass/style.scss */
.calendar .day {
  height: 40px;
  border-radius: 40px;
  padding-top: 6.5px;
}
/* line 140, ../sass/style.scss */
.calendar .basic {
  border: 1px solid #639560;
}
/* line 143, ../sass/style.scss */
.calendar .perfect {
  background: #d39a63;
}
/* line 145, ../sass/style.scss */
.calendar .perfect .name, .calendar .perfect .date {
  color: white;
}

/* line 151, ../sass/style.scss */
.habits, .notes {
  width: 640px;
  margin: auto;
  background: #282C37;
}
@media (max-width: 740px) {
  /* line 151, ../sass/style.scss */
  .habits, .notes {
    width: 100%;
    max-width: 100%;
  }
}
/* line 161, ../sass/style.scss */
.habits .habit, .notes .habit {
  padding: 10px;
  margin: 2px 0;
  background: #313543;
}
/* line 165, ../sass/style.scss */
.habits .habit .streak, .notes .habit .streak {
  float: left;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  background: #282C37;
  color: #9BAEC8;
  margin-right: 10px;
}
/* line 176, ../sass/style.scss */
.habits .habit .title, .notes .habit .title {
  float: left;
  width: 140px;
}
/* line 181, ../sass/style.scss */
.habits .habit .description, .notes .habit .description {
  color: #9BAEC8;
  font-size: 10px;
  margin-bottom: -50px;
  line-height: 14px;
}
/* line 188, ../sass/style.scss */
.habits .habit .timeline, .notes .habit .timeline {
  float: right;
  width: calc(100% - 190px);
  overflow-y: hidden;
  overflow-x: scroll;
  overflow-x: hidden;
  direction: rtl;
}
@media (max-width: 740px) {
  /* line 188, ../sass/style.scss */
  .habits .habit .timeline, .notes .habit .timeline {
    /* float:left; */
  }
}
/* line 199, ../sass/style.scss */
.habits .habit .timeline::-webkit-scrollbar, .notes .habit .timeline::-webkit-scrollbar {
  height: 0px;
}
/* line 200, ../sass/style.scss */
.habits .habit .timeline .checkmarks, .notes .habit .timeline .checkmarks {
  width: calc(50px * 32);
}
/* line 204, ../sass/style.scss */
.habits .habit .timeline .checkmark, .notes .habit .timeline .checkmark {
  float: left;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background: #282C37;
  margin-right: 10px;
  cursor: pointer;
}
/* line 213, ../sass/style.scss */
.habits .habit .timeline .checkmark i, .notes .habit .timeline .checkmark i {
  line-height: 40px;
  font-size: 20px;
  color: #9BAEC8;
}
/* line 218, ../sass/style.scss */
.habits .habit .timeline .checkmark .empty-day, .notes .habit .timeline .checkmark .empty-day {
  color: #9BAEC8;
}
/* line 221, ../sass/style.scss */
.habits .habit .timeline .checkmark .fa-times, .notes .habit .timeline .checkmark .fa-times {
  color: #af6e6e;
}
/* line 224, ../sass/style.scss */
.habits .habit .timeline .checkmark .fa-check, .notes .habit .timeline .checkmark .fa-check {
  color: #9dc89b;
}
/* line 227, ../sass/style.scss */
.habits .habit .timeline .checkmark .fa-thumbs-up, .notes .habit .timeline .checkmark .fa-thumbs-up {
  color: #cb9c6f;
}

/* General form */
/* line 237, ../sass/style.scss */
form input {
  background: #282c37;
  border: none;
  padding: 4px;
  margin-bottom: 4px;
}
/* line 243, ../sass/style.scss */
form .btn {
  background: #282c37;
  margin-top: 4px;
  padding: 4px 10px;
}
/* line 248, ../sass/style.scss */
form .btn-submit {
  margin-left: 4px;
}

/* Habit specific form */
/* line 256, ../sass/style.scss */
.color-picker {
  margin-right: 10px;
  float: left;
}
/* line 259, ../sass/style.scss */
.color-picker .open-picker {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  background: #7890cb;
  cursor: pointer;
}
/* line 266, ../sass/style.scss */
.color-picker .open-picker i {
  line-height: 40px;
}
/* line 272, ../sass/style.scss */
.color-picker .color-grid .my-modal-body {
  width: 260px;
}
/* line 275, ../sass/style.scss */
.color-picker .color-grid .color-swatch {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
  float: left;
  cursor: pointer;
}

/* General modal */
/* line 287, ../sass/style.scss */
.my-modal {
  position: fixed;
  background: #282c37e6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
}
/* line 296, ../sass/style.scss */
.my-modal .my-modal-body {
  background: #313543;
  margin: 15% auto;
  padding: 40px;
  width: 80%;
}

/* line 304, ../sass/style.scss */
.habit form {
  width: 200px;
  float: left;
}
/* line 307, ../sass/style.scss */
.habit form input[type=text] {
  width: 100%;
  font-size: 15px;
  color: #9BAEC8;
}
/* line 312, ../sass/style.scss */
.habit form .title-edit {
  width: 100%;
}
/* line 316, ../sass/style.scss */
.habit form .description {
  font-size: 10px;
}

/* line 321, ../sass/style.scss */
.about {
  padding: 20px 40px;
  color: #9BAEC8;
}
/* line 324, ../sass/style.scss */
.about .logo {
  width: 120px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
/* line 330, ../sass/style.scss */
.about img {
  width: 100%;
  margin-bottom: 10px;
}
/* line 334, ../sass/style.scss */
.about hr {
  border-top: 1px solid #9baec896;
}
/* line 337, ../sass/style.scss */
.about h1 {
  text-align: center;
}
/* line 340, ../sass/style.scss */
.about p {
  color: #9BAEC8;
}
/* line 343, ../sass/style.scss */
.about a {
  color: white;
  text-decoration: underline;
}
/* line 347, ../sass/style.scss */
.about li {
  color: #9BAEC8;
}

/* line 352, ../sass/style.scss */
.notes {
  padding: 20px;
}
/* line 356, ../sass/style.scss */
.notes .timeline {
  margin: -15px -10px;
  margin-bottom: 0;
  float: right;
  width: calc(100% - 170px);
  /* minus width of the menu and 10px padding */
  overflow-y: hidden;
  overflow-x: scroll;
  direction: rtl;
}
/* line 364, ../sass/style.scss */
.notes .timeline::-webkit-scrollbar {
  height: 0px;
}
/* line 365, ../sass/style.scss */
.notes .timeline .days {
  width: calc(50px * 32);
}
/* line 370, ../sass/style.scss */
.notes .timeline .day {
  float: left;
  height: 10px;
  width: 40px;
  text-align: center;
  border: 1px solid #313543;
  background: none;
  margin-right: 10px;
  cursor: pointer;
}
/* line 380, ../sass/style.scss */
.notes .timeline .active {
  border: 1px solid #9BAEC8;
  border: 1px solid #67778e;
}
/* line 384, ../sass/style.scss */
.notes .timeline .has-note {
  background: #313543;
}
/* line 388, ../sass/style.scss */
.notes textarea {
  overflow: hidden;
  resize: none;
  background: #282c37;
  color: #9BAEC8;
  border: none;
  width: 100%;
}
/* line 395, ../sass/style.scss */
.notes textarea:focus {
  outline: none;
}
/* line 398, ../sass/style.scss */
.notes textarea::-webkit-input-placeholder {
  /* Placeholder text color */
  color: rgba(103, 119, 142, 0.5);
}
/* line 404, ../sass/style.scss */
.notes .buttons {
  visibility: hidden;
  float: right;
  margin-bottom: -15px;
}
/* line 408, ../sass/style.scss */
.notes .buttons .btn {
  background: #313543;
  padding: 2px 10px;
  margin-left: 10px;
  color: #9BAEC8;
  width: 40px;
  font-size: 12px;
}
/* line 415, ../sass/style.scss */
.notes .buttons .btn i {
  color: #9BAEC8;
}
/* line 420, ../sass/style.scss */
.notes textarea:focus + .buttons, .notes .buttons:hover {
  visibility: visible;
}
